[submodule "themes/eureka"]
	path = themes/eureka
	url = https://github.com/wangchucheng/hugo-eureka
[submodule "themes/cayman-hugo-theme"]
	path = themes/cayman-hugo-theme
	url = https://github.com/zwbetz-gh/cayman-hugo-theme
